h1 {
    text-align: center;
  }
  body {
    background-color:red;
    text-align: center;
    font-family: 'Macondo', cursive;
  }
  p {
    color: blue;
    text-align: center;
  }
  #first {
    background-color:aquamarine;        
    color: red;

  }
  #second {
    background-color:aqua;
    color: blue;

  }
  table, th, td {
    border: 1px solid blue;
    text-align: center;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
    background-color: #0a60ea;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #ea1414;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:rgb(0, 0, 255) ;
  }
  
  .active {
    background-color: #0a60ea;
  }